.servicios {
    img {
        margin: 15px;
        height: 300px;
        border-radius: 16px;
    }
    h2 {
        font-family: klavika-bold;
        background-color: $color-3;
        color: $color-2;
        text-align: center;
        font-size: nth($f-size, 4);
    }
    p {
        font-family: klavika-regular;
        font-size: nth($f-size, 3);
        text-align: center;
        padding: 20px;
        margin: 40px;
    }
}

.servicios-img {
    @include flex(flex,center,center);
}

.servicios-info {
        @extend %info;
        text-align: center;
        margin: 40px;
        background-color: $color-9;
        font-size: nth($f-size, 2);
        border-radius: 16px;
        padding: 20px;
        img {
            width: 80px;
            height: 80px;
            padding: 10px;
        }
        h3 {
            font-family: klavika-bold;
        }
    }

.imagen {
    border: 3px solid rgba(0, 0, 0, 0.212);
    border-radius: 16px;
    display: flex;
    margin: 10px;
    width: 246px;
    height: 150px;
    box-shadow: 30px 10px 20px -2px rgba(0,0,0,0.57);
    -webkit-box-shadow: 10px 10px 20px -2px rgba(0,0,0,0.57);
    -moz-box-shadow: 10px 10px 20px -2px rgba(0,0,0,0.57);
    &:hover {
        transform: scale(1.2);
        transition: 1.1s;
    }
    img {
        border-radius: 12px;
    }
}

.imagenes-contenedor {
    flex-wrap: wrap;
    margin: 30px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
